
.topcard {
    background-size: cover;
    border: 0.33px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    border-radius: 10px;    
}

.c1 {
    background-image: url(../../img/sc1.png);
}

.c2 {
    background-image: url(../../img/sc.png);
}

.c5 {
    background-image: url(../../img/cs.png);
}

.c3 {
    background-image: url(../../img/ros1.png);

}

.c4 {
    background-image: url(../../img/amer.png);
   
}

.country{
	width: 330px;
    height: 324px;
    border: none;
    margin: 0 30vh;
}
