
.topcard {
    background-size: cover;
    border: 0.33px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    border-radius: 10px;    
}

.c1 {
    background-image: url(../../img/c1.png);
}

.c2 {
    background-image: url(../../img/c2.png);
}

.c5 {
    background-image: url(../../img/c3.png);
}

.c3 {
    background-image: url(../../img/ros1.png);

}

.c4 {
    background-image: url(../../img/amer.png);
   
}

.country{
	width: 350px;
    height: 324px;
    border: none;
}