
.topcard {
    background-size: cover;
    border: 0.33px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    border-radius: 10px;    
}

.c1 {
    background-image: url(../../img/cs1.jpg);
}

.c2 {
    background-image: url(../../img/cs2.jpg);
}

.c3 {
    background-image: url(../../img/ros1.png);
    width: 350px;
    height: 374px;
    margin: auto;
}